body {
	background-color: #fff;
}

p, h2 {
    font-family: sans-serif, 'Helvetica Neue';
	margin-top: 10px;
	color: #000;
}

h1 {
	font-family: sans-serif, 'Helvetica Neue';
	color: #777;
}

h2 {
	text-align: center;
	color: #000;
	margin-bottom: 10px;
}

#hintPic {
	width:500px;
	height:auto;
}

.current-word {
	letter-spacing: 20px;
	color: red;
}
